.dragicon {
	-fx-background-radius: 10; 
}

.cubic-icon {
	-fx-fill:
	rgba(80.0, 80.0, 80.0, 0.0);
	
	-fx-stroke: black;
}

.node-overlay {
	-fx-background-radius: 10 10 0 0;
	-fx-background-color:
	linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);
	
}

.right-link-handle:hover {
	-fx-background-radius: 0 0 10 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.icon-led {
	-fx-background-color: white;
        -fx-background-image: url("lamp.png");
        -fx-background-size: 200 64;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.icon-cell {
	-fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("b.png");
        -fx-background-size: 100 32;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.icon-resistor {
        -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("r.jpg");
        -fx-background-size: 65 45;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}
.icon-svitch {
	 -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("switch-open.png");
        -fx-background-size: 100 100;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.icon-relay {
	 -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("relay.png");
        -fx-background-size: 50 50;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.icon-volt {
	-fx-background-color: white;
        -fx-background-image: url("volt.jpg");
        -fx-background-size: 64 64;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.icon-am {
	-fx-background-color: white;
        -fx-background-image: url("am.jpg");
        -fx-background-size: 64 64;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.icon-cell.draggable {
    -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("b.png");
        -fx-background-size: 100 32;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center 35;
    
}

.icon-led.draggable {
    
 -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("lamp.png");
        -fx-background-size: 275 80;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center 20;
    
   
    
}

.icon-resistor.draggable { -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("r.jpg");
        -fx-background-size: 80 45;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center 30;
    
 
}


.icon-svitch.draggable {
    -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("switch-open.png");
        -fx-background-size: 100 100;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
    
}

.icon-volt.draggable {
    -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("volt.jpg");
        -fx-background-size: 64 64;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center 33;
    
}
.icon-am.draggable {
    -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("am.jpg");
        -fx-background-size: 64 64;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center 33;
    
}
.icon-relay.draggable {
     -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("relay.png");
        -fx-background-size: 50 50;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center 30;
}



.icon-svitch .field {
    visibility:hidden;
}

.icon-cell .switch,.icon-resistor .switch, .icon-relay .switch,.icon-led .switch ,.icon-am .switch , .icon-volt .switch  {
    visibility:hidden;
}

.icon-svitch.svitch-on {
    -fx-background-color: white;
        -fx-background-image: url("switch-close.png");
        -fx-background-size: 100 100;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.icon-svitch.svitch-off {
    -fx-background-color: red;
        -fx-background-color: white;
        -fx-background-image: url("switch-open.png");
        -fx-background-size: 100 100;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.cubic-icon {
    visibility:hidden;
}


